extends ../layout
block scripts
  script(src='/javascripts/transactions/logit.js')
  script(src='/javascripts/transactions/logedit.js')

block content
  div(class='input-form')
    form(method='post', action='/transactions/create')
      div 
        label(for='category') Category
        select(type='text', id='category', name='category')
      div
        label(for='Cost') Cost
        input(type='number', step='0.01', placeholder='0.00', id='cost', name='cost', value=record.cost)
      div
        label(for='dt') Date
        input(type='datetime-local', id='dt', name='dt')
      div
        input(type='hidden', id='payment', name='payment', value='cash')
        div(id='cash', class=record.payment =='cash'? 'press_btn press_btn_selected' : 'press_btn') Cash
        div(id='credit', class=record.payment =='credit'? 'press_btn press_btn_selected' : 'press_btn') Credit
      div
        label(id="comments_label", for='comments') Comments
        input(type='text', id='comments', placeholder='comments here...', name='comments', value=record.comments)
      div
        input(type='hidden', id='tz', name='tz')
        input(type='hidden', id='id', name='id' value=record._id)
      div
        input(type='button', id='sendit' value="Save")
      div
        input(type='button', id='deleteit' value = "Delete")
  p(id='error' style="display:none") Sorry an error occurred
  script.
    window.theRecord = !{JSON.stringify(record)};